.content {
    max-width: 1000px;
    margin: auto;
    padding: 0;
    
}

.headBanner {
background-image: url(images/weatherBanner.png);
background-size: cover;
position: sticky;
align-content: center;
margin: auto;
width: 100%;
height: 300px;
opacity: 50%;
}

.header {
    position: absolute;
    top: 17%;
    left: 51%;
    transform : translate(-50%, -50%);
    font-family: "Lobster", cursive;
    font-size: 60px;
    color: #555;    
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}