* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Amiri", serif;
}

.content {
    margin: auto;
    padding: 0; 
}

/* banner */
.headBanner {
background-image: url(images/weatherBanner.png);
background-size: cover;
position: sticky;
align-content: center;
margin: auto;
width: 100%;
height: 300px;
opacity: 50%;
}

.header {
    position: absolute;
    top: 17%;
    left: 51%;
    transform : translate(-50%, -50%);
    font-family: "Lobster", cursive;
    font-size: 60px;
    color: #555; 
      
}

/* search bar */
#cityName {
    padding: 10px; 
    font-size: 15px;
    border: 1px solid gray;
    width: 75%;
    float: left;
    font-family: "Amiri", serif;
    margin-top: 30px;
}

#findWeather {
    padding: 5px;
    border: 1px solid gray;
    border-left: none;
    cursor: pointer;
    width: 20%;
    background: #2196f3;
    display: inline-block;
    margin-top: 30px;
}

#findWeather:hover {
    background: #555;
}

/* clear floats */
#findWeather ::after {
    content: "";
    clear: both;
    display: table;
}


/* app stylings*/

.container {
    background-color: lightgray;
    border: darkblue solid 5px; 
    border-radius: 15px 15px 15px 15px;
    padding: 30px;
    margin-top: 30px;   
}
.title {
    font-family: "Lobster", cursive;
    text-align: center;
    font-size: 35px;
}

.notification {
    text-align: right;
    font-family: "Amiri", serif;
}

.degrees {
    text-align: center;
    font-family: "Lobster", cursive;
    font-size: 80px;
    color: dodgerblue;
}

.description {
    text-align: center;
    font-family: "Amiri", serif;
}

.location {
    text-align: center;
    font-family: "Amiri", serif;
}